body {
    font-size: 14px;
    line-height: normal;
    font-family: $family-1;
    overflow-X: hidden;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend *;
    font-family: $family-1;
    font-weight: 700;
}

p {
    @extend *;
    font-size: 16px;
    line-height: 26px;
    font-family: $family-1;
}

ul,
ol,
dl {
    @extend *;
    list-style-type: none;
    font-family: $family-1;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    font-family: $family-1;
}
img {
    @extend *;
}
hr{
    @extend *;
}
button,
input{
    &:hover,
    &:focus{
        outline: none;
        box-shdaow: none;
    }
}