.section-p {
    padding: 80px 0;
}

.section-p-7 {
    padding: 73px 0 80px;
}

.section-p-top{
	padding-top: 80px;
	.section-head{
		h2{
			margin-top: -7px
		}
	}
}
.section-p-top{
	padding-top: 80px;
}
.mtb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.mt-110{
	margin-top: 110px;
}
.plr-0 {
    padding-left: 0;
    padding-right: 0;
}
